<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas - Pizzaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_receitas.css') }}">
</head>
<body>
    <div class="container pedidos-container">
        <h1>Receitas</h1>

        {% if receitas %}
            {% for receita in receitas %}
                <div class="pedido">
                    <h2>NOME: {{ receita.nomeReceita }}</h2>
                    <ul>
                        {% for ingrediente in receita.ingredientes %}
                            <li>{{ ingrediente }}</li>
                        {% endfor %}
                    </ul>                    
                    <button class="verificar-receita" onclick="window.location.href='/relatorio?receitaId={{ receita.receitaId }}'">Verificar receita</button>
                </div>
            {% endfor %}
        {% else %}
            <div class="pedido">
                <p>Nenhuma receita disponível.</p>
            </div>
        {% endif %}

        <button onclick="window.location.href='/'">Voltar</button>

        <!-- Card de Sugestões -->
        <div class="sugestao-card" id="sugestaoCard">
            <h3>Ingredientes acabando:</h3>
            {% for ingrediente in sugestoes %}
                <p>Faça algo com {{ ingrediente.nome }}!</p>
            {% endfor %}
        
            <h3>Possíveis Receitas:</h3>
            {% for receita in receitas %}
                <p>{{ receita.nomeReceita }}</p>
            {% endfor %}
        </div>


        <script>
            // Verificar se estamos nos últimos dias do mês
            const dataAtual = new Date();
            const ultimoDiaDoMes = new Date(dataAtual.getFullYear(), dataAtual.getMonth() + 1, 0).getDate();
            const diasRestantes = ultimoDiaDoMes - dataAtual.getDate();

            if (diasRestantes < 14) { // Exibir o card se faltam 14 para acabar o mes
                document.getElementById('sugestaoCard').style.display = 'block';
            }
        </script>
    </div>
</body>
</html>
