<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque - Pizzaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_estoque.css') }}">
</head>
<body>
    <div class="container">
        <h1>Estoque Atual</h1>
        <ul id="listaEstoque">
            {% for item in estoque %}
                <li>{{ item }}</li>
            {% else %}
                <li>Nenhum item no estoque.</li>
            {% endfor %}
        </ul>
        
        <button onclick="window.location.href='/'">Voltar</button>
    </div>
</body>
</html>
