<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo - Controle de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<body>
    <div class="container">
        <!-- Corrigindo o caminho da imagem -->
        <img src="{{ url_for('static', filename='imagens/animacao.jpg') }}" alt="Logo da Pizzaria" style="max-width: 40%; height: auto;">
        
        <h1>Bem-Vindo!</h1>
        <h2>Controle de Estoque da Pizzaria!</h2>
        <p>Clique nos botões abaixo para começar sua gestão</p>
        <button onclick="window.location.href='/adicionar'">Gestão Estoque</button>
        <button onclick="window.location.href='/conferir_estoque'">Conferir Pedidos</button> <!-- Novo botão -->
    </div>
</body>
</html>
